<% include partials/header %>

<div class="container">
  <header class="jumbotron">
    <div>
      <h1><i class="circular chart bar icon"></i>Welcome To OP Dashboard !</h1>
      <p>
        This app helps in creating the KCQ Team Performance Metrics and
        organizing those data by storing them on weekly/monthly/Quarterly
      </p>
    </div>
  </header>

  <style>
    .item {
      background: #f4f4f4;
      border: #ccc solid 1px;
      padding: 1rem;
      text-align: center;
      margin: 0.5rem;
      flex: 1;
      border-radius: 5%;
    }

    #container {
      display: flex;
      flex-direction: row;
      margin-bottom: 4rem;
    }
    a {
      color: black;
    }
    .kcq {
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    }
  </style>

  <h2 class="ui center aligned icon header blue">
    KCQ Team OP Reports
  </h2>
  <div class="ui segment">
    <h2 class="ui  header blue">OP Reports :</h2>
    <div id="container">
      <a class="item" href="campgrounds/itbshow"
        ><div><h3>ITB</h3></div></a
      >
      <a class="item" href="gok"
        ><div><h3>GOK</h3></div></a
      >
      <a class="item" href="series"
        ><div><h3>Series</h3></div></a
      >
      <a class="item" href="xray"
        ><div><h3>X-ray</h3></div></a
      >
      <a class="item" href="metadata"
        ><div><h3>Metadata</h3></div></a
      >
    </div>
    <div id="container">
      <a class="item" href="sjoitb"
        ><div><h3>SJO- ITB</h3></div></a
      >
      <a class="item" href="jpitb"
        ><div><h3>JP- ITB</h3></div></a
      >
      <a class="item" href="cnitb"
        ><div><h3>CN- ITB</h3></div></a
      >
      <a class="item" href="cnmetadata"
        ><div><h3>CN- Metadata</h3></div></a
      >
    </div>
  </div>

  <% include partials/footer %>
</div>
