<% include partials/header %>

<div class= "container">
    <h2>Login page</h2>
    <form action="/login" method ="POST">
        <input type="text" name="username"  placeholder="Username">
        <input type="Password" name="password" placeholder="password">
        <button>Submit</button>
    </form>
</div>

