<% include partials/header %>
<div class= "container" >
    <h2>Register page</h2>
    <form action="/register" method ="POST">
        <input type="text" name="username"  placeholder="Username">
        <input type="Password" name="password" placeholder="password">
        <button>Sign Up!</button>
    </form>
</div>
