<% include ../partials/header %> 
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>This is our campground page !</h1>
            <p>View Our Hand picked campgrounds</p>
            <a href="/campgrounds/new" class="btn btn-primary">Add a New Campground</a>
        </div>
    </header>
    
    <h1>Our Campgrounds!</h1>
    <div class="row" style="display:flex; flex-wrap:wrap">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6">
                
                <div class="thumbnail">
                    <img src="<%=campground.image%>">
                    <div class="caption"><h4><%= campground.name %></h4></div>
                    <a href="/campgrounds/<%= campground._id %>" class= "btn btn-primary">view</a>
                </div>
            </div>
        <% }) %>
    </div>
</div>