<% include ../partials/header %>

<script>
  
  function sum() {
    var v1 = document.getElementById("value1").value;
    var v2 = document.getElementById("value2").value;
    var v3 = document.getElementById("value3").value;
    var v4 = document.getElementById("value4").value;
    var v5 = document.getElementById("value5").value;
    var v6 = document.getElementById("value6").value;
    var result = +v1 + +v2 + +v3 + +v4 + +v5 + +v6;
    if (!isNaN(result)) {
      document.getElementById("sum_value").value = result.toFixed(2);
      
    }
  }

  function hcsum() {
    var hc1 = document.getElementById("headcount1").value;
    var hc2 = document.getElementById("headcount2").value;
    var hc3 = document.getElementById("headcount3").value;
    var hc4 = document.getElementById("headcount4").value;
    var hc5 = document.getElementById("headcount5").value;
    var hc6 = document.getElementById("headcount6").value;
    var result = +hc1 + +hc2 + +hc3 + +hc4 + +hc5 + +hc6;
    if (!isNaN(result)) {
      document.getElementById("hc_value").value = result.toFixed(2);
    }
  }


  function reactive(){
    var v1 = document.getElementById("value11").value;
    var v2 = document.getElementById("value12").value;
    var v3 = document.getElementById("value13").value;
    var v4 = document.getElementById("value14").value;
    var v5 = document.getElementById("value15").value;
    var v6 = document.getElementById("value16").value;
    var v7 = document.getElementById("value17").value;
    var v8 = document.getElementById("value18").value;
    var v9 = document.getElementById("value19").value;
    var v10 = document.getElementById("value20").value;
    var v11 = document.getElementById("value21").value;
    var result = +v1 + +v2 + +v3 + +v4 + +v5 + +v6 + +v7  + +v8 + +v9 + +v10 + +v11  ;
    if (!isNaN(result)) {
      document.getElementById("sum_reactive").value = result.toFixed(2);
    }
  }

  function reactiveHCount(){
    var v1 = document.getElementById("value111").value;
    var v2 = document.getElementById("value112").value;
    var v3 = document.getElementById("value113").value;
    var v4 = document.getElementById("value114").value;
    var v5 = document.getElementById("value115").value;
    var v6 = document.getElementById("value116").value;
    var v7 = document.getElementById("value117").value;
    var v8 = document.getElementById("value118").value;
    var v9 = document.getElementById("value119").value;
    var v10 = document.getElementById("value120").value;
    var v11 = document.getElementById("value121").value;
    
    
    var result = +v1 + +v2 + +v3 + +v4 + +v5 + +v6 + +v7  + +v8 + +v9 + +v10 + +v11  ;
    if (!isNaN(result)) {
      document.getElementById("sum_reactiveHCount").value = result.toFixed(2);
    }
  }

  function rework(){
    var v1 = document.getElementById("value1110").value;
    var v2 = document.getElementById("value1120").value;

    var v3 = document.getElementById("value1130").value;
    
    var result = +v1 + +v2 + +v3;
    if (!isNaN(result)) {
      document.getElementById("sum_rework").value = result.toFixed(2);
    }
  }

  function reworkHCount(){
    var v1 = document.getElementById("value1010").value;
    var v2 = document.getElementById("value1020").value;

    var v3 = document.getElementById("value1030").value;
    
    var result = +v1 + +v2 + +v3;
    if (!isNaN(result)) {
      document.getElementById("sum_reworkHCount").value = result.toFixed(2);
    }
  }

  function kcvp(){
    var v1 = document.getElementById("kcvp1").value;
    var v2 = document.getElementById("kcvp2").value;
    var v3 = document.getElementById("kcvp3").value;
    var v4 = document.getElementById("kcvp4").value;
    var result = +v1 + +v2 + +v3 + +v4;
    if (!isNaN(result)) {
      document.getElementById("sum_kcvp").value = result.toFixed(2);
    }
  }
  
  function kcvpHCount(){
    var v1 = document.getElementById("kcvpHCount1").value;
    var v2 = document.getElementById("kcvpHCount2").value;
    var v3 = document.getElementById("kcvpHCount3").value;
    var v4 = document.getElementById("kcvpHCount4").value;
    var result = +v1 + +v2 + +v3 + +v4;
    if (!isNaN(result)) {
      document.getElementById("sum_kcvpHCount").value = result.toFixed(2);
    }
  }

 
  function weekly() {

  var x = document.getElementById("myText").value;

  if( x=== "2019-W27" || x=== "2019-W28" || x=== "2019-W29" || x=== "2019-W30" || x=== "2019-W31" || x=== "2019-W32" || x=== "2019-W33" || x=== "2019-W34"|| x=== "2019-W35"|| x=== "2019-W36" || x=== "2019-W37" || x=== "2019-W38"|| x=== "2019-W39" ){
    
    document.getElementById("Planned_v1" ).innerHTML = "596.23";
    document.getElementById("Planned_v2").innerHTML = "46.15";
    document.getElementById("Planned_v3").innerHTML = "264.69";
    document.getElementById("Planned_v4").innerHTML = "10.15";
    document.getElementById("Planned_v5" ).innerHTML = "184.61";
    document.getElementById("Planned_v6").innerHTML = "6.47";
    document.getElementById("Planned_v7").innerHTML = "84.15";
    document.getElementById("Planned_v8").innerHTML = "1572";
    document.getElementById("Planned_v9" ).innerHTML = "127.61";
    document.getElementById("Planned_v10").innerHTML = "1005.62";
    document.getElementById("Planned_v11").innerHTML = "780";
    document.getElementById("Planned_v12").innerHTML = "";
    document.getElementById("Planned_v13" ).innerHTML = "173";
    document.getElementById("Planned_v14").innerHTML = "53.46";
    document.getElementById("Planned_v15").innerHTML = "125.1";
    document.getElementById("Planned_v16").innerHTML = "50.76";
    document.getElementById("Planned_v17" ).innerHTML = "262.92";
    document.getElementById("Planned_v18").innerHTML = "202.92";
    document.getElementById("Planned_v19").innerHTML = "60";
    document.getElementById("Planned_v20").innerHTML = "462.92";
    document.getElementById("Planned_v21" ).innerHTML = "48.46";
    document.getElementById("Planned_v22").innerHTML = "40.07";
    document.getElementById("Planned_v23").innerHTML = "374.41";
    document.getElementById("Planned_v24").innerHTML = "165.62";
    document.getElementById("Planned_v25" ).innerHTML = "125";
    document.getElementById("Planned_v26").innerHTML = "18.46";
    document.getElementById("Planned_v27").innerHTML = "15.69";
    document.getElementById("Planned_v28").innerHTML = "6.46";
    document.getElementById("Planned_v29" ).innerHTML = "92.31";
    document.getElementById("Planned_v30").innerHTML = "2500";
    document.getElementById("Planned_v31").innerHTML = "92.31";
    document.getElementById("Planned_v32").innerHTML = "85.85";


    document.getElementById("Planned_hc1" ).innerHTML = "4.05";
    document.getElementById("Planned_hc2").innerHTML = "0.38";
    document.getElementById("Planned_hc3").innerHTML = "1.61";
    document.getElementById("Planned_hc4").innerHTML = "0.12";
    document.getElementById("Planned_hc5" ).innerHTML = "1.40";
    document.getElementById("Planned_hc6").innerHTML = "0.05";
    document.getElementById("Planned_hc7").innerHTML = "0.49";
    document.getElementById("Planned_hc8").innerHTML = "17.65";
    document.getElementById("Planned_hc9" ).innerHTML = "0.97";
    document.getElementById("Planned_hc10").innerHTML = "7.62";
    document.getElementById("Planned_hc11").innerHTML = "6.03";
    document.getElementById("Planned_hc12").innerHTML = "";
    document.getElementById("Planned_hc13" ).innerHTML = "1.22";
    document.getElementById("Planned_hc14").innerHTML = "0.38";
    document.getElementById("Planned_hc15").innerHTML = "0.95";
    document.getElementById("Planned_hc16").innerHTML = "0.29";
    document.getElementById("Planned_hc17" ).innerHTML = "0.82";
    document.getElementById("Planned_hc18").innerHTML = "0.32";
    document.getElementById("Planned_hc19").innerHTML = "0.50";
    document.getElementById("Planned_hc20").innerHTML = "1.22";
    document.getElementById("Planned_hc21" ).innerHTML = "0.35";
    document.getElementById("Planned_hc22").innerHTML = "0.11";
    document.getElementById("Planned_hc23").innerHTML = "0.76";
    document.getElementById("Planned_hc24").innerHTML = "0.30";
    document.getElementById("Planned_hc25" ).innerHTML = "0.20";
    document.getElementById("Planned_hc26").innerHTML = "0.03";
    document.getElementById("Planned_hc27").innerHTML = "0.05";
    document.getElementById("Planned_hc28").innerHTML = "0.02";
    document.getElementById("Planned_hc29" ).innerHTML = "2";
    document.getElementById("Planned_hc30").innerHTML = "0.10";
    document.getElementById("Planned_hc31").innerHTML = "2";
    document.getElementById("Planned_hc32").innerHTML = "0.10";

    document.getElementById("Planned_prod1" ).innerHTML = "1.5";
    document.getElementById("Planned_prod2").innerHTML = "6.5";
    document.getElementById("Planned_prod3").innerHTML = "68.5";
    document.getElementById("Planned_prod4").innerHTML = "4.5";
    document.getElementById("Planned_prod5" ).innerHTML = "4.5";
    document.getElementById("Planned_prod6").innerHTML = "34.5";
    document.getElementById("Planned_prod7").innerHTML = "5.5";
    document.getElementById("Planned_prod8").innerHTML = "6.5";
    document.getElementById("Planned_prod9" ).innerHTML = "1.5";
    document.getElementById("Planned_prod10").innerHTML = "1.5";
    document.getElementById("Planned_prod11").innerHTML = "3.5";
    document.getElementById("Planned_prod12").innerHTML = "863.5";
    document.getElementById("Planned_prod13" ).innerHTML = "5.5";
    document.getElementById("Planned_prod14").innerHTML = "6.5";
    document.getElementById("Planned_prod15").innerHTML = "7.5";
    document.getElementById("Planned_prod16").innerHTML = "3.5";
    document.getElementById("Planned_prod17" ).innerHTML = "5.5";
    document.getElementById("Planned_prod18").innerHTML = "6.5";
    document.getElementById("Planned_prod19").innerHTML = "7.5";
    document.getElementById("Planned_prod20").innerHTML = "8.5";
    document.getElementById("Planned_prod21" ).innerHTML = "5.5";
    document.getElementById("Planned_prod22").innerHTML = "6.5";
    document.getElementById("Planned_prod23").innerHTML = "7.5";
    document.getElementById("Planned_prod24").innerHTML = "8.5";
    document.getElementById("Planned_prod25" ).innerHTML = "5.5";
    document.getElementById("Planned_prod26").innerHTML = "6.5";
    document.getElementById("Planned_prod27").innerHTML = "7.5";
    document.getElementById("Planned_prod28").innerHTML = "8.5";
    document.getElementById("Planned_prod29" ).innerHTML = "5.5";
    document.getElementById("Planned_prod30").innerHTML = "6.5";
    document.getElementById("Planned_prod31").innerHTML = "7.5";
    document.getElementById("Planned_prod32").innerHTML = "8.5";

  }

  else if(  x=== "2019-W40" || x=== "2019-W41" || x=== "2019-W42" || x=== "2019-W43" || x=== "2019-W44"|| x=== "2019-W45"|| x=== "2019-W46" || x=== "2019-W47" || x=== "2019-W48" || x=== "2019-W49" || x=== "2019-W50"|| x=== "2019-W52"|| x=== "2019-W52"){
    
    document.getElementById("Planned_v1" ).innerHTML = "658.84";
    document.getElementById("Planned_v2").innerHTML = "46.15";
    document.getElementById("Planned_v3").innerHTML = "264.69";
    document.getElementById("Planned_v4").innerHTML = "10.15";
    document.getElementById("Planned_v5" ).innerHTML = "184.61";
    document.getElementById("Planned_v6").innerHTML = "6.46";
    document.getElementById("Planned_v7").innerHTML = "84.15";
    document.getElementById("Planned_v8").innerHTML = "1572";
    document.getElementById("Planned_v9" ).innerHTML = "123.2";
    document.getElementById("Planned_v10").innerHTML = "52";
    document.getElementById("Planned_v11").innerHTML = "14";
    document.getElementById("Planned_v12").innerHTML = "63";
    document.getElementById("Planned_v13" ).innerHTML = "5";
    document.getElementById("Planned_v14").innerHTML = "663.5";
    document.getElementById("Planned_v15").innerHTML = "763.5";
    document.getElementById("Planned_v16").innerHTML = "863.5";
    document.getElementById("Planned_v17" ).innerHTML = "563.5";
    document.getElementById("Planned_v18").innerHTML = "663.5";
    document.getElementById("Planned_v19").innerHTML = "763.5";
    document.getElementById("Planned_v20").innerHTML = "863.5";
    document.getElementById("Planned_v21" ).innerHTML = "563.5";
    document.getElementById("Planned_v22").innerHTML = "663.5";
    document.getElementById("Planned_v23").innerHTML = "763.5";
    document.getElementById("Planned_v24").innerHTML = "863.5";
    document.getElementById("Planned_v25" ).innerHTML = "563.5";
    document.getElementById("Planned_v26").innerHTML = "663.5";
    document.getElementById("Planned_v27").innerHTML = "763.5";
    document.getElementById("Planned_v28").innerHTML = "863.5";
    document.getElementById("Planned_v29" ).innerHTML = "563.5";
    document.getElementById("Planned_v30").innerHTML = "663.5";
    document.getElementById("Planned_v31").innerHTML = "763.5";
    document.getElementById("Planned_v32").innerHTML = "863.5";

    document.getElementById("Planned_hc1" ).innerHTML = "1.35";
    document.getElementById("Planned_hc2").innerHTML = "5.5";
    document.getElementById("Planned_hc3").innerHTML = "8.05";
    document.getElementById("Planned_hc4").innerHTML = "4.5";
    document.getElementById("Planned_hc5" ).innerHTML = "3.15";
    document.getElementById("Planned_hc6").innerHTML = "4.5";
    document.getElementById("Planned_hc7").innerHTML = "3.5";
    document.getElementById("Planned_hc8").innerHTML = "2.05";
    document.getElementById("Planned_hc9" ).innerHTML = "1.35";
    document.getElementById("Planned_hc10").innerHTML = "6.5";
    document.getElementById("Planned_hc11").innerHTML = "6.5";
    document.getElementById("Planned_hc12").innerHTML = "8.5";
    document.getElementById("Planned_hc13" ).innerHTML = "6.5";
    document.getElementById("Planned_hc14").innerHTML = "6.5";
    document.getElementById("Planned_hc15").innerHTML = "76.35";
    document.getElementById("Planned_hc16").innerHTML = "8.5";
    document.getElementById("Planned_hc17" ).innerHTML = "6.5";
    document.getElementById("Planned_hc18").innerHTML = "66.5";
    document.getElementById("Planned_hc19").innerHTML = "6.35";
    document.getElementById("Planned_hc20").innerHTML = "6.5";
    document.getElementById("Planned_hc21" ).innerHTML = "6.05";
    document.getElementById("Planned_hc22").innerHTML = "66.5";
    document.getElementById("Planned_hc23").innerHTML = "6.5";
    document.getElementById("Planned_hc24").innerHTML = "86.5";
    document.getElementById("Planned_hc25" ).innerHTML = "56.15";
    document.getElementById("Planned_hc26").innerHTML = "66.5";
    document.getElementById("Planned_hc27").innerHTML = "6.5";
    document.getElementById("Planned_hc28").innerHTML = "6.5";
    document.getElementById("Planned_hc29" ).innerHTML = "6.15";
    document.getElementById("Planned_hc30").innerHTML = "6.5";
    document.getElementById("Planned_hc31").innerHTML = "7.5";
    document.getElementById("Planned_hc32").innerHTML = "6.5";


    document.getElementById("Planned_prod1" ).innerHTML = "1.5";
    document.getElementById("Planned_prod2").innerHTML = "6.5";
    document.getElementById("Planned_prod3").innerHTML = "68.5";
    document.getElementById("Planned_prod4").innerHTML = "4.5";
    document.getElementById("Planned_prod5" ).innerHTML = "4.5";
    document.getElementById("Planned_prod6").innerHTML = "34.5";
    document.getElementById("Planned_prod7").innerHTML = "5.5";
    document.getElementById("Planned_prod8").innerHTML = "6.5";
    document.getElementById("Planned_prod9" ).innerHTML = "1.5";
    document.getElementById("Planned_prod10").innerHTML = "1.5";
    document.getElementById("Planned_prod11").innerHTML = "3.5";
    document.getElementById("Planned_prod12").innerHTML = "863.5";
    document.getElementById("Planned_prod13" ).innerHTML = "5.5";
    document.getElementById("Planned_prod14").innerHTML = "6.5";
    document.getElementById("Planned_prod15").innerHTML = "7.5";
    document.getElementById("Planned_prod16").innerHTML = "3.5";
    document.getElementById("Planned_prod17" ).innerHTML = "5.5";
    document.getElementById("Planned_prod18").innerHTML = "5.5";
    document.getElementById("Planned_prod19").innerHTML = "7.5";
    document.getElementById("Planned_prod20").innerHTML = "8.5";
    document.getElementById("Planned_prod21" ).innerHTML = "5.5";
    document.getElementById("Planned_prod22").innerHTML = "6.5";
    document.getElementById("Planned_prod23").innerHTML = "7.5";
    document.getElementById("Planned_prod24").innerHTML = "8.5";
    document.getElementById("Planned_prod25" ).innerHTML = "5.5";
    document.getElementById("Planned_prod26").innerHTML = "6.5";
    document.getElementById("Planned_prod27").innerHTML = "7.5";
    document.getElementById("Planned_prod28").innerHTML = "8.5";
    document.getElementById("Planned_prod29" ).innerHTML = "5.5";
    document.getElementById("Planned_prod30").innerHTML = "6.5";
    document.getElementById("Planned_prod31").innerHTML = "7.5";
    document.getElementById("Planned_prod32").innerHTML = "8.5";
    
  }


  else if(x=== "2020-W01" || x=== "2020-W02" || x=== "2020-W03" || x=== "2020-W04" || x=== "2020-W05" || x=== "2020-W06"   || x=== "2020-W07" || x=== "2020-W08" || x=== "2020-W09" || x=== "2020-W10" || x=== "2020-W11" || x=== "2020-W12" || x=== "2020-W13" ){
    
    document.getElementById("Planned_v1" ).innerHTML = "563.5";
    document.getElementById("Planned_v2").innerHTML = "663.5";
    document.getElementById("Planned_v3").innerHTML = "763.5";
    document.getElementById("Planned_v4").innerHTML = "863.5";
    document.getElementById("Planned_v5" ).innerHTML = "563.5";
    document.getElementById("Planned_v6").innerHTML = "663.5";
    document.getElementById("Planned_v7").innerHTML = "763.5";
    document.getElementById("Planned_v8").innerHTML = "863.5";
    document.getElementById("Planned_v9" ).innerHTML = "563.5";
    document.getElementById("Planned_v10").innerHTML = "663.5";
    document.getElementById("Planned_v11").innerHTML = "763.5";
    document.getElementById("Planned_v12").innerHTML = "863.5";
    document.getElementById("Planned_v13" ).innerHTML = "563.5";
    document.getElementById("Planned_v14").innerHTML = "663.5";
    document.getElementById("Planned_v15").innerHTML = "763.5";
    document.getElementById("Planned_v16").innerHTML = "863.5";
    document.getElementById("Planned_v17" ).innerHTML = "563.5";
    document.getElementById("Planned_v18").innerHTML = "663.5";
    document.getElementById("Planned_v19").innerHTML = "763.5";
    document.getElementById("Planned_v20").innerHTML = "863.5";
    document.getElementById("Planned_v21" ).innerHTML = "563.5";
    document.getElementById("Planned_v22").innerHTML = "663.5";
    document.getElementById("Planned_v23").innerHTML = "763.5";
    document.getElementById("Planned_v24").innerHTML = "863.5";
    document.getElementById("Planned_v25" ).innerHTML = "563.5";
    document.getElementById("Planned_v26").innerHTML = "663.5";
    document.getElementById("Planned_v27").innerHTML = "763.5";
    document.getElementById("Planned_v28").innerHTML = "863.5";
    document.getElementById("Planned_v29" ).innerHTML = "563.5";
    document.getElementById("Planned_v30").innerHTML = "663.5";
    document.getElementById("Planned_v31").innerHTML = "763.5";
    document.getElementById("Planned_v32").innerHTML = "863.5";

    document.getElementById("Planned_hc1" ).innerHTML = "1.35";
    document.getElementById("Planned_hc2").innerHTML = "5.5";
    document.getElementById("Planned_hc3").innerHTML = "8.05";
    document.getElementById("Planned_hc4").innerHTML = "4.5";
    document.getElementById("Planned_hc5" ).innerHTML = "3.15";
    document.getElementById("Planned_hc6").innerHTML = "4.5";
    document.getElementById("Planned_hc7").innerHTML = "3.5";
    document.getElementById("Planned_hc8").innerHTML = "2.05";
    document.getElementById("Planned_hc9" ).innerHTML = "1.35";
    document.getElementById("Planned_hc10").innerHTML = "6.5";
    document.getElementById("Planned_hc11").innerHTML = "6.5";
    document.getElementById("Planned_hc12").innerHTML = "8.5";
    document.getElementById("Planned_hc13" ).innerHTML = "6.5";
    document.getElementById("Planned_hc14").innerHTML = "6.5";
    document.getElementById("Planned_hc15").innerHTML = "76.35";
    document.getElementById("Planned_hc16").innerHTML = "8.5";
    document.getElementById("Planned_hc17" ).innerHTML = "6.5";
    document.getElementById("Planned_hc18").innerHTML = "66.5";
    document.getElementById("Planned_hc19").innerHTML = "6.35";
    document.getElementById("Planned_hc20").innerHTML = "6.5";
    document.getElementById("Planned_hc21" ).innerHTML = "6.05";
    document.getElementById("Planned_hc22").innerHTML = "66.5";
    document.getElementById("Planned_hc23").innerHTML = "6.5";
    document.getElementById("Planned_hc24").innerHTML = "86.5";
    document.getElementById("Planned_hc25" ).innerHTML = "56.15";
    document.getElementById("Planned_hc26").innerHTML = "66.5";
    document.getElementById("Planned_hc27").innerHTML = "6.5";
    document.getElementById("Planned_hc28").innerHTML = "6.5";
    document.getElementById("Planned_hc29" ).innerHTML = "6.15";
    document.getElementById("Planned_hc30").innerHTML = "6.5";
    document.getElementById("Planned_hc31").innerHTML = "7.5";
    document.getElementById("Planned_hc32").innerHTML = "6.5";


    document.getElementById("Planned_prod1" ).innerHTML = "1.5";
    document.getElementById("Planned_prod2").innerHTML = "6.5";
    document.getElementById("Planned_prod3").innerHTML = "68.5";
    document.getElementById("Planned_prod4").innerHTML = "4.5";
    document.getElementById("Planned_prod5" ).innerHTML = "4.5";
    document.getElementById("Planned_prod6").innerHTML = "34.5";
    document.getElementById("Planned_prod7").innerHTML = "5.5";
    document.getElementById("Planned_prod8").innerHTML = "6.5";
    document.getElementById("Planned_prod9" ).innerHTML = "1.5";
    document.getElementById("Planned_prod10").innerHTML = "1.5";
    document.getElementById("Planned_prod11").innerHTML = "3.5";
    document.getElementById("Planned_prod12").innerHTML = "863.5";
    document.getElementById("Planned_prod13" ).innerHTML = "5.5";
    document.getElementById("Planned_prod14").innerHTML = "6.5";
    document.getElementById("Planned_prod15").innerHTML = "7.5";
    document.getElementById("Planned_prod16").innerHTML = "3.5";
    document.getElementById("Planned_prod17" ).innerHTML = "5.5";
    document.getElementById("Planned_prod18").innerHTML = "6.5";
    document.getElementById("Planned_prod19").innerHTML = "7.5";
    document.getElementById("Planned_prod20").innerHTML = "8.5";
    document.getElementById("Planned_prod21" ).innerHTML = "5.5";
    document.getElementById("Planned_prod22").innerHTML = "6.5";
    document.getElementById("Planned_prod23").innerHTML = "7.5";
    document.getElementById("Planned_prod24").innerHTML = "8.5";
    document.getElementById("Planned_prod25" ).innerHTML = "5.5";
    document.getElementById("Planned_prod26").innerHTML = "6.5";
    document.getElementById("Planned_prod27").innerHTML = "7.5";
    document.getElementById("Planned_prod28").innerHTML = "8.5";
    document.getElementById("Planned_prod29" ).innerHTML = "5.5";
    document.getElementById("Planned_prod30").innerHTML = "6.5";
    document.getElementById("Planned_prod31").innerHTML = "7.5";
    document.getElementById("Planned_prod32").innerHTML = "8.5";
    
  }
  else if( x=== "2020-W14" || x=== "2020-W15" || x=== "2020-W16"   || x=== "2020-W17" || x=== "2020-W18" || x=== "2020-W19" || x=== "2020-W20" || x=== "2020-W21" || x=== "2020-W22" || x=== "2020-W23" || x=== "2020-W24"|| x=== "2020-W25"|| x=== "2020-W26" ){
    document.getElementById("Planned_v1" ).innerHTML = "563.5";
    document.getElementById("Planned_v2").innerHTML = "663.5";
    document.getElementById("Planned_v3").innerHTML = "763.5";
    document.getElementById("Planned_v4").innerHTML = "863.5";
    document.getElementById("Planned_v5" ).innerHTML = "563.5";
    document.getElementById("Planned_v6").innerHTML = "663.5";
    document.getElementById("Planned_v7").innerHTML = "763.5";
    document.getElementById("Planned_v8").innerHTML = "863.5";
    document.getElementById("Planned_v9" ).innerHTML = "563.5";
    document.getElementById("Planned_v10").innerHTML = "663.5";
    document.getElementById("Planned_v11").innerHTML = "763.5";
    document.getElementById("Planned_v12").innerHTML = "863.5";
    document.getElementById("Planned_v13").innerHTML = "563.5";
    document.getElementById("Planned_v14").innerHTML = "663.5";
    document.getElementById("Planned_v15").innerHTML = "763.5";
    document.getElementById("Planned_v16").innerHTML = "863.5";
    document.getElementById("Planned_v17").innerHTML = "563.5";
    document.getElementById("Planned_v18").innerHTML = "663.5";
    document.getElementById("Planned_v19").innerHTML = "763.5";
    document.getElementById("Planned_v20").innerHTML = "863.5";
    document.getElementById("Planned_v21" ).innerHTML = "563.5";
    document.getElementById("Planned_v22").innerHTML = "663.5";
    document.getElementById("Planned_v23").innerHTML = "763.5";
    document.getElementById("Planned_v24").innerHTML = "863.5";
    document.getElementById("Planned_v25" ).innerHTML = "563.5";
    document.getElementById("Planned_v26").innerHTML = "663.5";
    document.getElementById("Planned_v27").innerHTML = "763.5";
    document.getElementById("Planned_v28").innerHTML = "863.5";
    document.getElementById("Planned_v29" ).innerHTML = "563.5";
    document.getElementById("Planned_v30").innerHTML = "663.5";
    document.getElementById("Planned_v31").innerHTML = "763.5";
    document.getElementById("Planned_v32").innerHTML = "863.5";


    document.getElementById("Planned_hc1" ).innerHTML = "1.35";
    document.getElementById("Planned_hc2").innerHTML = "5.5";
    document.getElementById("Planned_hc3").innerHTML = "8.05";
    document.getElementById("Planned_hc4").innerHTML = "4.5";
    document.getElementById("Planned_hc5" ).innerHTML = "3.15";
    document.getElementById("Planned_hc6").innerHTML = "4.5";
    document.getElementById("Planned_hc7").innerHTML = "3.5";
    document.getElementById("Planned_hc8").innerHTML = "2.05";
    document.getElementById("Planned_hc9" ).innerHTML = "1.35";
    document.getElementById("Planned_hc10").innerHTML = "6.5";
    document.getElementById("Planned_hc11").innerHTML = "6.5";
    document.getElementById("Planned_hc12").innerHTML = "8.5";
    document.getElementById("Planned_hc13" ).innerHTML = "6.5";
    document.getElementById("Planned_hc14").innerHTML = "6.5";
    document.getElementById("Planned_hc15").innerHTML = "76.35";
    document.getElementById("Planned_hc16").innerHTML = "8.5";
    document.getElementById("Planned_hc17" ).innerHTML = "6.5";
    document.getElementById("Planned_hc18").innerHTML = "66.5";
    document.getElementById("Planned_hc19").innerHTML = "6.35";
    document.getElementById("Planned_hc20").innerHTML = "6.5";
    document.getElementById("Planned_hc21" ).innerHTML = "6.05";
    document.getElementById("Planned_hc22").innerHTML = "66.5";
    document.getElementById("Planned_hc23").innerHTML = "6.5";
    document.getElementById("Planned_hc24").innerHTML = "86.5";
    document.getElementById("Planned_hc25" ).innerHTML = "56.15";
    document.getElementById("Planned_hc26").innerHTML = "66.5";
    document.getElementById("Planned_hc27").innerHTML = "6.5";
    document.getElementById("Planned_hc28").innerHTML = "6.5";
    document.getElementById("Planned_hc29" ).innerHTML = "6.15";
    document.getElementById("Planned_hc30").innerHTML = "6.5";
    document.getElementById("Planned_hc31").innerHTML = "7.5";
    document.getElementById("Planned_hc32").innerHTML = "6.5";


    document.getElementById("Planned_prod1" ).innerHTML = "1.5";
    document.getElementById("Planned_prod2").innerHTML = "6.5";
    document.getElementById("Planned_prod3").innerHTML = "68.5";
    document.getElementById("Planned_prod4").innerHTML = "4.5";
    document.getElementById("Planned_prod5" ).innerHTML = "4.5";
    document.getElementById("Planned_prod6").innerHTML = "34.5";
    document.getElementById("Planned_prod7").innerHTML = "5.5";
    document.getElementById("Planned_prod8").innerHTML = "6.5";
    document.getElementById("Planned_prod9" ).innerHTML = "1.5";
    document.getElementById("Planned_prod10").innerHTML = "1.5";
    document.getElementById("Planned_prod11").innerHTML = "3.5";
    document.getElementById("Planned_prod12").innerHTML = "863.5";
    document.getElementById("Planned_prod13" ).innerHTML = "5.5";
    document.getElementById("Planned_prod14").innerHTML = "6.5";
    document.getElementById("Planned_prod15").innerHTML = "7.5";
    document.getElementById("Planned_prod16").innerHTML = "3.5";
    document.getElementById("Planned_prod17" ).innerHTML = "5.5";
    document.getElementById("Planned_prod18").innerHTML = "6.5";
    document.getElementById("Planned_prod19").innerHTML = "7.5";
    document.getElementById("Planned_prod20").innerHTML = "8.5";
    document.getElementById("Planned_prod21" ).innerHTML = "5.5";
    document.getElementById("Planned_prod22").innerHTML = "6.5";
    document.getElementById("Planned_prod23").innerHTML = "7.5";
    document.getElementById("Planned_prod24").innerHTML = "8.5";
    document.getElementById("Planned_prod25" ).innerHTML = "5.5";
    document.getElementById("Planned_prod26").innerHTML = "6.5";
    document.getElementById("Planned_prod27").innerHTML = "7.5";
    document.getElementById("Planned_prod28").innerHTML = "8.5";
    document.getElementById("Planned_prod29" ).innerHTML = "5.5";
    document.getElementById("Planned_prod30").innerHTML = "6.5";
    document.getElementById("Planned_prod31").innerHTML = "7.5";
    document.getElementById("Planned_prod32").innerHTML = "8.5";
    
  }

  else if( x=== "2020-W27" || x=== "2020-W28" || x=== "2020-W29" || x=== "2020-W30" || x=== "2020-W31" || x=== "2020-W32" || x=== "2020-W33" || x=== "2020-W34"|| x=== "2020-W35"|| x=== "2020-W36" || x=== "2020-W37" || x=== "2020-W38"|| x=== "2020-W39"|| x=== "2020-W40" ){
    document.getElementById("Planned_v1" ).innerHTML = "563.5";
    document.getElementById("Planned_v2").innerHTML = "663.5";
    document.getElementById("Planned_v3").innerHTML = "763.5";
    document.getElementById("Planned_v4").innerHTML = "863.5";
    document.getElementById("Planned_v5" ).innerHTML = "563.5";
    document.getElementById("Planned_v6").innerHTML = "663.5";
    document.getElementById("Planned_v7").innerHTML = "763.5";
    document.getElementById("Planned_v8").innerHTML = "863.5";
    document.getElementById("Planned_v9" ).innerHTML = "563.5";
    document.getElementById("Planned_v10").innerHTML = "663.5";
    document.getElementById("Planned_v11").innerHTML = "763.5";
    document.getElementById("Planned_v12").innerHTML = "863.5";
    document.getElementById("Planned_v13" ).innerHTML = "563.5";
    document.getElementById("Planned_v14").innerHTML = "663.5";
    document.getElementById("Planned_v15").innerHTML = "763.5";
    document.getElementById("Planned_v16").innerHTML = "863.5";
    document.getElementById("Planned_v17" ).innerHTML = "563.5";
    document.getElementById("Planned_v18").innerHTML = "663.5";
    document.getElementById("Planned_v19").innerHTML = "763.5";
    document.getElementById("Planned_v20").innerHTML = "863.5";
    document.getElementById("Planned_v21" ).innerHTML = "563.5";
    document.getElementById("Planned_v22").innerHTML = "663.5";
    document.getElementById("Planned_v23").innerHTML = "763.5";
    document.getElementById("Planned_v24").innerHTML = "863.5";
    document.getElementById("Planned_v25" ).innerHTML = "563.5";
    document.getElementById("Planned_v26").innerHTML = "663.5";
    document.getElementById("Planned_v27").innerHTML = "763.5";
    document.getElementById("Planned_v28").innerHTML = "863.5";
    document.getElementById("Planned_v29" ).innerHTML = "563.5";
    document.getElementById("Planned_v30").innerHTML = "663.5";
    document.getElementById("Planned_v31").innerHTML = "763.5";
    document.getElementById("Planned_v32").innerHTML = "863.5";

    document.getElementById("Planned_hc1" ).innerHTML = "1.35";
    document.getElementById("Planned_hc2").innerHTML = "5.5";
    document.getElementById("Planned_hc3").innerHTML = "8.05";
    document.getElementById("Planned_hc4").innerHTML = "4.5";
    document.getElementById("Planned_hc5" ).innerHTML = "3.15";
    document.getElementById("Planned_hc6").innerHTML = "4.5";
    document.getElementById("Planned_hc7").innerHTML = "3.5";
    document.getElementById("Planned_hc8").innerHTML = "2.05";
    document.getElementById("Planned_hc9" ).innerHTML = "1.35";
    document.getElementById("Planned_hc10").innerHTML = "6.5";
    document.getElementById("Planned_hc11").innerHTML = "6.5";
    document.getElementById("Planned_hc12").innerHTML = "8.5";
    document.getElementById("Planned_hc13" ).innerHTML = "6.5";
    document.getElementById("Planned_hc14").innerHTML = "6.5";
    document.getElementById("Planned_hc15").innerHTML = "76.35";
    document.getElementById("Planned_hc16").innerHTML = "8.5";
    document.getElementById("Planned_hc17" ).innerHTML = "6.5";
    document.getElementById("Planned_hc18").innerHTML = "66.5";
    document.getElementById("Planned_hc19").innerHTML = "6.35";
    document.getElementById("Planned_hc20").innerHTML = "6.5";
    document.getElementById("Planned_hc21" ).innerHTML = "6.05";
    document.getElementById("Planned_hc22").innerHTML = "66.5";
    document.getElementById("Planned_hc23").innerHTML = "6.5";
    document.getElementById("Planned_hc24").innerHTML = "86.5";
    document.getElementById("Planned_hc25" ).innerHTML = "56.15";
    document.getElementById("Planned_hc26").innerHTML = "66.5";
    document.getElementById("Planned_hc27").innerHTML = "6.5";
    document.getElementById("Planned_hc28").innerHTML = "6.5";
    document.getElementById("Planned_hc29" ).innerHTML = "6.15";
    document.getElementById("Planned_hc30").innerHTML = "6.5";
    document.getElementById("Planned_hc31").innerHTML = "7.5";
    document.getElementById("Planned_hc32").innerHTML = "6.5";

    document.getElementById("Planned_prod1" ).innerHTML = "1.5";
    document.getElementById("Planned_prod2").innerHTML = "6.5";
    document.getElementById("Planned_prod3").innerHTML = "68.5";
    document.getElementById("Planned_prod4").innerHTML = "4.5";
    document.getElementById("Planned_prod5" ).innerHTML = "4.5";
    document.getElementById("Planned_prod6").innerHTML = "34.5";
    document.getElementById("Planned_prod7").innerHTML = "5.5";
    document.getElementById("Planned_prod8").innerHTML = "6.5";
    document.getElementById("Planned_prod9" ).innerHTML = "1.5";
    document.getElementById("Planned_prod10").innerHTML = "1.5";
    document.getElementById("Planned_prod11").innerHTML = "3.5";
    document.getElementById("Planned_prod12").innerHTML = "863.5";
    document.getElementById("Planned_prod13" ).innerHTML = "5.5";
    document.getElementById("Planned_prod14").innerHTML = "6.5";
    document.getElementById("Planned_prod15").innerHTML = "7.5";
    document.getElementById("Planned_prod16").innerHTML = "3.5";
    document.getElementById("Planned_prod17" ).innerHTML = "5.5";
    document.getElementById("Planned_prod18").innerHTML = "6.5";
    document.getElementById("Planned_prod19").innerHTML = "7.5";
    document.getElementById("Planned_prod20").innerHTML = "8.5";
    document.getElementById("Planned_prod21" ).innerHTML = "5.5";
    document.getElementById("Planned_prod22").innerHTML = "6.5";
    document.getElementById("Planned_prod23").innerHTML = "7.5";
    document.getElementById("Planned_prod24").innerHTML = "8.5";
    document.getElementById("Planned_prod25" ).innerHTML = "5.5";
    document.getElementById("Planned_prod26").innerHTML = "6.5";
    document.getElementById("Planned_prod27").innerHTML = "7.5";
    document.getElementById("Planned_prod28").innerHTML = "8.5";
    document.getElementById("Planned_prod29" ).innerHTML = "5.5";
    document.getElementById("Planned_prod30").innerHTML = "6.5";
    document.getElementById("Planned_prod31").innerHTML = "7.5";
    document.getElementById("Planned_prod32").innerHTML = "8.5";
    
  }
  else   if(x=== "2020-W41" || x=== "2020-W42" || x=== "2020-W43" || x=== "2020-W44" || x=== "2020-W45" || x=== "2020-W46"   || x=== "2020-W47" || x=== "2020-W48" || x=== "2020-W49" || x=== "2020-W50" || x=== "2020-W51" || x=== "2020-W52" || x=== "2020-W53" ){
    document.getElementById("Planned_v1" ).innerHTML = "363.5";
    document.getElementById("Planned_v2").innerHTML = "663.5";
    document.getElementById("Planned_v3").innerHTML = "563.5";
    document.getElementById("Planned_v4").innerHTML = "963.5";
    document.getElementById("Planned_v5" ).innerHTML = "563.5";
    document.getElementById("Planned_v6").innerHTML = "663.5";
    document.getElementById("Planned_v7").innerHTML = "763.5";
    document.getElementById("Planned_v8").innerHTML = "863.5";
    document.getElementById("Planned_v9" ).innerHTML = "763.5";
    document.getElementById("Planned_v10").innerHTML = "663.5";
    document.getElementById("Planned_v11").innerHTML = "763.5";
    document.getElementById("Planned_v12").innerHTML = "863.5";
    document.getElementById("Planned_v13" ).innerHTML = "563.5";
    document.getElementById("Planned_v14").innerHTML = "663.5";
    document.getElementById("Planned_v15").innerHTML = "763.5";
    document.getElementById("Planned_v16").innerHTML = "863.5";
    document.getElementById("Planned_v17" ).innerHTML = "563.5";
    document.getElementById("Planned_v18").innerHTML = "663.5";
    document.getElementById("Planned_v19").innerHTML = "763.5";
    document.getElementById("Planned_v20").innerHTML = "863.5";
    document.getElementById("Planned_v21" ).innerHTML = "563.5";
    document.getElementById("Planned_v22").innerHTML = "663.5";
    document.getElementById("Planned_v23").innerHTML = "763.5";
    document.getElementById("Planned_v24").innerHTML = "863.5";
    document.getElementById("Planned_v25" ).innerHTML = "563.5";
    document.getElementById("Planned_v26").innerHTML = "663.5";
    document.getElementById("Planned_v27").innerHTML = "763.5";
    document.getElementById("Planned_v28").innerHTML = "863.5";
    document.getElementById("Planned_v29" ).innerHTML = "563.5";
    document.getElementById("Planned_v30").innerHTML = "663.5";
    document.getElementById("Planned_v31").innerHTML = "763.5";
    document.getElementById("Planned_v32").innerHTML = "863.5";

    document.getElementById("Planned_hc1" ).innerHTML = "1.35";
    document.getElementById("Planned_hc2").innerHTML = "5.5";
    document.getElementById("Planned_hc3").innerHTML = "8.05";
    document.getElementById("Planned_hc4").innerHTML = "4.5";
    document.getElementById("Planned_hc5" ).innerHTML = "3.15";
    document.getElementById("Planned_hc6").innerHTML = "4.5";
    document.getElementById("Planned_hc7").innerHTML = "3.5";
    document.getElementById("Planned_hc8").innerHTML = "2.05";
    document.getElementById("Planned_hc9" ).innerHTML = "1.35";
    document.getElementById("Planned_hc10").innerHTML = "6.5";
    document.getElementById("Planned_hc11").innerHTML = "6.5";
    document.getElementById("Planned_hc12").innerHTML = "8.5";
    document.getElementById("Planned_hc13" ).innerHTML = "6.5";
    document.getElementById("Planned_hc14").innerHTML = "6.5";
    document.getElementById("Planned_hc15").innerHTML = "76.35";
    document.getElementById("Planned_hc16").innerHTML = "8.5";
    document.getElementById("Planned_hc17" ).innerHTML = "6.5";
    document.getElementById("Planned_hc18").innerHTML = "66.5";
    document.getElementById("Planned_hc19").innerHTML = "6.35";
    document.getElementById("Planned_hc20").innerHTML = "6.5";
    document.getElementById("Planned_hc21" ).innerHTML = "6.05";
    document.getElementById("Planned_hc22").innerHTML = "66.5";
    document.getElementById("Planned_hc23").innerHTML = "6.5";
    document.getElementById("Planned_hc24").innerHTML = "86.5";
    document.getElementById("Planned_hc25" ).innerHTML = "56.15";
    document.getElementById("Planned_hc26").innerHTML = "66.5";
    document.getElementById("Planned_hc27").innerHTML = "6.5";
    document.getElementById("Planned_hc28").innerHTML = "6.5";
    document.getElementById("Planned_hc29" ).innerHTML = "6.15";
    document.getElementById("Planned_hc30").innerHTML = "6.5";
    document.getElementById("Planned_hc31").innerHTML = "7.5";
    document.getElementById("Planned_hc32").innerHTML = "6.5";

    document.getElementById("Planned_prod1" ).innerHTML = "1.5";
    document.getElementById("Planned_prod2").innerHTML = "6.5";
    document.getElementById("Planned_prod3").innerHTML = "68.5";
    document.getElementById("Planned_prod4").innerHTML = "4.5";
    document.getElementById("Planned_prod5" ).innerHTML = "4.5";
    document.getElementById("Planned_prod6").innerHTML = "34.5";
    document.getElementById("Planned_prod7").innerHTML = "5.5";
    document.getElementById("Planned_prod8").innerHTML = "6.5";
    document.getElementById("Planned_prod9" ).innerHTML = "1.5";
    document.getElementById("Planned_prod10").innerHTML = "1.5";
    document.getElementById("Planned_prod11").innerHTML = "3.5";
    document.getElementById("Planned_prod12").innerHTML = "863.5";
    document.getElementById("Planned_prod13" ).innerHTML = "5.5";
    document.getElementById("Planned_prod14").innerHTML = "6.5";
    document.getElementById("Planned_prod15").innerHTML = "7.5";
    document.getElementById("Planned_prod16").innerHTML = "3.5";
    document.getElementById("Planned_prod17" ).innerHTML = "5.5";
    document.getElementById("Planned_prod18").innerHTML = "6.5";
    document.getElementById("Planned_prod19").innerHTML = "7.5";
    document.getElementById("Planned_prod20").innerHTML = "8.5";
    document.getElementById("Planned_prod21" ).innerHTML = "5.5";
    document.getElementById("Planned_prod22").innerHTML = "6.5";
    document.getElementById("Planned_prod23").innerHTML = "7.5";
    document.getElementById("Planned_prod24").innerHTML = "8.5";
    document.getElementById("Planned_prod25" ).innerHTML = "5.5";
    document.getElementById("Planned_prod26").innerHTML = "6.5";
    document.getElementById("Planned_prod27").innerHTML = "7.5";
    document.getElementById("Planned_prod28").innerHTML = "8.5";
    document.getElementById("Planned_prod29" ).innerHTML = "5.5";
    document.getElementById("Planned_prod30").innerHTML = "6.5";
    document.getElementById("Planned_prod31").innerHTML = "7.5";
    document.getElementById("Planned_prod32").innerHTML = "8.5";


  }

  else{
  	document.getElementById("Planned_v1" ).innerHTML = x;
    document.getElementById("Planned_v2").innerHTML = x;
    document.getElementById("Planned_v3").innerHTML = x;
    document.getElementById("Planned_v4").innerHTML = x;
    document.getElementById("Planned_v5" ).innerHTML =  x;
    document.getElementById("Planned_v6").innerHTML =  x;
    document.getElementById("Planned_v7").innerHTML =  x;
    document.getElementById("Planned_v8").innerHTML = x;
    document.getElementById("Planned_v9" ).innerHTML =  x;
    document.getElementById("Planned_v10").innerHTML =  x;
  	document.getElementById("Planned_v21" ).innerHTML = x;
    document.getElementById("Planned_v22").innerHTML = x;
    document.getElementById("Planned_v23").innerHTML = x;
    document.getElementById("Planned_v24").innerHTML = x;
    document.getElementById("Planned_v25" ).innerHTML =  x;
    document.getElementById("Planned_v26").innerHTML =  x;
    document.getElementById("Planned_v27").innerHTML =  x;
    document.getElementById("Planned_v28").innerHTML = x;
    document.getElementById("Planned_v29" ).innerHTML =  x;
    document.getElementById("Planned_v30").innerHTML =  x;
  	document.getElementById("Planned_v31" ).innerHTML = x;
    document.getElementById("Planned_v32").innerHTML = x;

    document.getElementById("Planned_hc1" ).innerHTML = null
    document.getElementById("Planned_hc2").innerHTML = null;
    document.getElementById("Planned_hc3").innerHTML =  null ;
    document.getElementById("Planned_hc4").innerHTML =  null ;
    document.getElementById("Planned_hc5" ).innerHTML = null; 
    document.getElementById("Planned_hc6").innerHTML =  null;
    document.getElementById("Planned_hc7").innerHTML =  null;
    document.getElementById("Planned_hc8").innerHTML = null ;
    document.getElementById("Planned_hc9" ).innerHTML =  null;
    document.getElementById("Planned_hc10").innerHTML =  null;
    document.getElementById("Planned_hc11").innerHTML = null; 
    document.getElementById("Planned_hc12").innerHTML = null ;
    document.getElementById("Planned_hc13" ).innerHTML = null;
       document.getElementById("Planned_hc14").innerHTML = null ;
       document.getElementById("Planned_hc15").innerHTML =  null;
        document.getElementById("Planned_hc16").innerHTML = null;
       document.getElementById("Planned_hc17" ).innerHTML =  null;
      document.getElementById("Planned_hc18").innerHTML = null;
        document.getElementById("Planned_hc19").innerHTML =  null;
       document.getElementById("Planned_hc20").innerHTML =  null;
      document.getElementById("Planned_hc21" ).innerHTML =  null;
       document.getElementById("Planned_hc22").innerHTML = null ;

    document.getElementById("Planned_hc23").innerHTML =  null;
        document.getElementById("Planned_hc24").innerHTML =  null;

    document.getElementById("Planned_hc25" ).innerHTML =  null;
    
    document.getElementById("Planned_hc26").innerHTML = null ;

    document.getElementById("Planned_hc27").innerHTML =  null;
        document.getElementById("Planned_hc28").innerHTML =  null;
        document.getElementById("Planned_hc29" ).innerHTML = null;
    
    document.getElementById("Planned_hc30").innerHTML =  null;
        document.getElementById("Planned_hc31").innerHTML =  null;
        document.getElementById("Planned_hc32").innerHTML = null ;



        

  }
}
  
  
</script>


<div class="container">
  <div class="row">
    <h1 style="text-align: center">Create New metrics of the week</h1>
    <div style="margin: 25px auto; ">
      <form action="/campgrounds/itbshow" method="POST">
        <table class="ui celled structured striped table" >
          <thead>
            <tr>
              <th>
                <form class="ui fluid form">
                    <div class="field  ">
                      <div class="ui input focus pointing below label">
                        Choose :
                        <input  name="week"  type="week" id="myText" onchange="weekly()" >
                      </div>
                      
                      
                    </div>
                  </form>
                
              </th>
              <th class="ui center aligned header" colspan="2">Planned</th>
              <th class="ui center aligned header" colspan="2">Actual</th>
              
              <th class="ui center aligned header" colspan="1">Accuracy</th>
              <th class="ui center aligned header" colspan="1">Call Outs</th>

            </tr>

            <tr>
              <th class="ui center aligned ">
                Title
              </th>
              <th>Volume</th>
              <th>Head Count</th>
             
              <th>Volume</th>
              <th>Head Count</th>
              <th>Accuaracy percent ( % )</th>
              <th>Reason</th>
            </tr>

            <!-- 1  Proactive (Fresh Audits) -->
            <tr>
              <th class="ui center aligned header blue">
                Proactive (Fresh Audits)
              </th>
              <td>
                <label for="week" id="Planned_v1" ></label>
              </td>
              <td>
                <label for="week" id="Planned_hc1" ></label>
              </td>
              

              <td>
                <input
                  name="A_Vol1"
                  id="sum_value"
                  class="form-control"
                  type="text"
                  readonly
                />
              </td>
              <td>
                <input
                  name="A_HCount1"
                  class="form-control"
                  id="hc_value"
                  type="text"
                  readonly
                />
              </td>
              <td><input type="text"   name="accuracy1" class="form-control" ></td>
              <td><textarea rows="2" name="couts1"></textarea></td>`
            </tr>

            <!-- 2. Best Sellers -->
            <tr>
              <th>Best Sellers</th>
              <td>
               
                <label for="week" id="Planned_v2" ></label>
              </td>
              <td>
                <label for="week" id="Planned_hc2" ></label>
              </td>
             
              <td>
                <input
                  name="A_Vol2"
                  id="value1"
                  onkeyup="sum();"
                  class="form-control"
                  type="text"
                />
              </td>
              <td>
                <input
                  name="A_HCount2"
                  class="form-control"
                  id="headcount1"
                  onkeyup="hcsum();"
                  type="text"
                />
              </td>
              <td><input type="text" name="accuracy2" class="form-control"></td>
              <td><textarea rows="2" name="couts2"></textarea></td>
            </tr>

          <!-- Pre-Orders -->
            <tr>
              <th>Pre-Orders</th>
              <td>
                <label for="week" id="Planned_v3" ></label>
              </td>
              <td>
                <label for="week" id="Planned_hc3" ></label>
              </td>
              
              <td>
                <input
                  name="A_Vol3"
                  id="value2"
                  onkeyup="sum();"
                  class="form-control"
                  type="text"
                />
              </td>
              <td>
                <input
                  name="A_HCount3"
                  id="headcount2"
                  onkeyup="hcsum();"
                  class="form-control"
                  type="text"
                />
              </td>

              <td><input type="text"  name="accuracy3" class="form-control"></td>
              <td><textarea rows="2" name="couts3"></textarea></td>
            </tr>

            <!-- 4. Big Books -->
            <tr>
              <th>Big Books</th>
              <td>
                <label id="Planned_v4" name="P_Vol4"  ></label>
              </td>
              <td>
                <label for="week" id="Planned_hc4" ></label>
              </td>
              
              <td>
                <input
                  name="A_Vol4"
                  class="form-control"
                  id="value3"
                  onkeyup="sum();"
                  type="text"
                />
              </td>
              <td>
                <input
                  name="A_HCount4"
                  id="headcount3"
                  onkeyup="hcsum();"
                  class="form-control"
                  type="text"
                />
              </td>
              <td><input type="text" name="accuracy4"  class="form-control"></td>
              <td><textarea rows="2" name="couts4"></textarea></td>
            </tr>

            <!-- 5. Kindle Deals -->
            <tr>
              <th>Kindle Deals</th>
              <td>
                <label id="Planned_v5" name="P_Vol5"   ></label>
              </td>
              <td>
                <label for="week" id="Planned_hc5" ></label>
              </td>
              

              
              
              <td>
                <input
                  name="A_Vol5"
                  class="form-control"
                  id="value4"
                  onkeyup="sum();"
                  type="text"
                />
              </td>

              <td>
                <input
                  name="A_HCount5"
                  id="headcount4"
                  onkeyup="hcsum();"
                  class="form-control"
                  type="text"
                />
              </td>
              <td><input type="text" name="accuracy5"  class="form-control"></td>
              <td><textarea rows="2" name="couts5"></textarea></td>
            </tr>







            <!--  6. Ad-hoc Requests / Escalation Audits -->
            <tr>
              <th>Ad-hoc Requests / Escalation Audits</th>
              <td>
                <label id="Planned_v6" name="P_Vol6"   ></label>
              </td>
              <td>
                <label for="week" id="Planned_hc6" ></label>
              </td>
             
              <td>
                <input
                  name="A_Vol6"
                  id="value5"
                  onkeyup="sum();"
                  class="form-control"
                  type="text"
                />
              </td>
              <td>
                <input
                  name="A_HCount6"
                  id="headcount5"
                  onkeyup="hcsum();"
                  class="form-control"
                  type="text"
                />
              </td>
              <td><input type="text"  name="accuracy6" class="form-control"></td>
              <td><textarea rows="2" name="couts6"></textarea></td>
            </tr> 
            
            
            
            <!-- 7. KU Page Violation Audits -->
            <tr>
              <th> KU Page Violation Audits </th>
              <td>
                <label id="Planned_v7" name="P_Vol7"   ></label>
              </td>
              <td>
                <label for="week" id="Planned_hc7" ></label>
              </td>
              
              <td>
                <input
                  name="A_Vol7"
                  id="value6"
                  onkeyup="sum();"
                  class="form-control"
                  type="text"
                />
              </td>
              <td>
                <input
                  name="A_HCount7"
                  id="headcount6"
                  onkeyup="hcsum();"
                  class="form-control"
                  type="text"
                />
              </td>
              <td><input type="text" name="accuracy7"  class="form-control"></td>
              <td><textarea rows="2" name="couts7"></textarea></td>
            </tr>



        <!--8. Reactive (Contacts) -->
          <tr>
            <th class="ui center aligned header blue" >Reactive (Contacts) </th>
            <td>
              <label id="Planned_v8" name="P_Vol8"   ></label>
            </td>
            <td>
              <label for="week" id="Planned_hc8" ></label>
            </td>
            
            <td>
              <input name="A_Vol8" class="form-control" type="text" id="sum_reactive"   readonly />
            </td>
            <td>
              <input name="A_HCount8" class="form-control" type="text"  id="sum_reactiveHCount" readonly />
            </td>
            <td><input type="text"  name="accuracy8" class="form-control"></td>
            <td><textarea rows="2" name="couts8"></textarea></td>
          </tr>


          <!--9. Andons & Regulars -->

            <tr>
              <th class="ui  header subhead grey " >Andons & Regulars</th>
              <td>
                <label id="Planned_v9" name="P_Vol9"   ></label>
              </td>
              <td>
                <label for="week" id="Planned_hc9" ></label>
              </td>
              

              <td>
                <input
                  name="A_Vol9"
                  id="value11"
                  onkeyup="reactive();"
                  class="form-control"
                  type="text"
                />
              </td>          
              <td>
                <input
                  name="A_HCount9"
                  id="value111"
                  onkeyup="reactiveHCount();"
                  class="form-control"
                  type="text"
                />
              </td>
              <td><input type="text"  name="accuracy9"  class="form-control"></td>
              <td><textarea rows="2" name="couts9"></textarea></td>
            </tr>



            <!--10  Report Content Errors -->
            <tr>
              <th class="ui  header subhead grey ">Report Content Errors</th>
              </th>
              <td>
                <label id="Planned_v10" name="P_Vol10"   ></label>
              </td>
              <td>
                <label for="week" id="Planned_hc10" ></label>
              </td>
              
              <td>
                <input
                  name="A_Vol10"
                  id="value12"
                  onkeyup="reactive();"
                  class="form-control"
                  type="text"
                />
              </td>
              <td>
                <input
                  name="A_HCount10"
                  id="value112"
                  onkeyup="reactiveHCount();"
                  class="form-control"
                  type="text"
                />
              </td>
              <td><input type="text" name="accuracy10"  class="form-control"></td>
              <td><textarea rows="2" name="couts10"></textarea></td>
            </tr>

            <!--11. English -->
            <tr>
              <th>English</th>
              <td>
                <label id="Planned_v11" name="P_Vol11"   ></label>
              </td>
              <td>
                <label for="week" id="Planned_hc11" ></label>
              </td>
              
              <td>
                <input
                  name="A_Vol11"
                  id="value13"
                  onkeyup="reactive();"
                  class="form-control"
                  type="text"
                />
              </td>
              <td>
                <input
                  name="A_HCount11"
                  id="value113"
                  onkeyup="reactiveHCount();"
                  class="form-control"
                  type="text"
                />
              </td>
              <td><input type="text"  name="accuracy11" class="form-control"></td>
              <td><textarea rows="2" name="couts11"></textarea></td>
            </tr>
            </tr>

            <!-- 12. English (High-value titles to be considered by Ops) -->
            <tr>
              <th>English (High-value titles to be considered by Ops)</th>
              <td>
                <label id="Planned_v12" name="P_Vol12"   ></label>
              </td>
              <td>
                <label for="week" id="Planned_hc12" ></label>
              </td>
              
              <td>
                <input
                  name="A_Vol12"
                  id="value14"
                  onkeyup="reactive();"
                  class="form-control"
                  type="text"
                />
              </td>
              <td>
                <input
                  name="A_HCount12"
                  id="value114"
                  onkeyup="reactiveHCount();"
                  class="form-control"
                  type="text"
                />
              </td>
              <td><input type="text" name="accuracy12"  class="form-control"></td>
              <td><textarea rows="2" name="couts12"></textarea></td>
            </tr>
            </tr>


            <!-- 13.German  -->
            <tr>
              <th>German</th>
              <td>
                <label id="Planned_v13" name="P_Vol13"   ></label>
              </td>
              <td>
                <label for="week" id="Planned_hc13" ></label>
              </td>
              
              <td>
                <input
                  name="A_Vol13"
                  id="value15"
                  onkeyup="reactive();"
                  class="form-control"
                  type="text"
                />
              </td>
              <td>
                <input
                  name="A_HCount13"
                  id="value115"
                  onkeyup="reactiveHCount();"
                  class="form-control"
                  type="text"
                />
              </td>
              <td><input type="text" name="accuracy13"  class="form-control"></td>
              <td><textarea rows="2" name="couts13"></textarea></td>
            </tr>
            </tr>


            <!-- 14. French -->
            <tr>
              <th>French</th>
              <td>
                <label id="Planned_v14" name="P_Vol14"   ></label>
              </td>
              <td>
                <label for="week" id="Planned_hc14" ></label>
              </td>
              
              <td>
                <input
                  name="A_Vol14"
                  id="value16"
                  onkeyup="reactive();"
                  class="form-control"
                  type="text"
                />
              </td>
              <td>
                <input
                  name="A_HCount14"
                  id="value116"
                  onkeyup="reactiveHCount();"
                  class="form-control"
                  type="text"
                />
              </td>
              <td><input type="text"  name="accuracy14" class="form-control"></td>
              <td><textarea rows="2" name="couts14"></textarea></td>
            </tr>
            </tr>

            <!--  15.Customer Reviews -->
            <tr>
              <th class="ui header subhead grey" >Customer Reviews  </th>
              <td>
                <label id="Planned_v15" name="P_Vol15"   ></label>
              </td>
              <td>
                <label for="week" id="Planned_hc15" ></label>
              </td>
              


              <td>
                <input
                  name="A_Vol15"
                  id="value17"
                  onkeyup="reactive();"
                  class="form-control"
                  type="text"
                />
              </td>

              <td>
                <input
                  name="A_HCount15"
                  id="value117"
                  onkeyup="reactiveHCount();"
                  class="form-control"
                  type="text"
                />
              </td>
              <td><input type="text" name="accuracy15"  class="form-control"></td>
              <td><textarea rows="2" name="couts15"></textarea></td>
            </tr>
            </tr>


            <!-- 16 Massmail Tickets -->
            <tr>
              <th class="ui  header subhead grey">Massmail Tickets </th>
              <td>
                <label id="Planned_v16" name="P_Vol16"   ></label>
              </td>
              <td>
                <label for="week" id="Planned_hc16" ></label>
              </td>
              

              <td>
                <input
                  name="A_Vol16"
                  id="value18"
                  onkeyup="reactive();"
                  class="form-control"
                  type="text"
                />
              </td>
              <td>
                <input
                  name="A_HCount16"
                  id="value118"
                  onkeyup="reactiveHCount();"
                  class="form-control"
                  type="text"
                />
              </td>
              <td><input type="text"  name="accuracy16" class="form-control"></td>
              <td><textarea rows="2" name="couts16"></textarea></td>
            </tr>
            </tr>



            <!-- 17. Publisher Response  -->
            <tr>
              <th class="ui  header subhead grey">Publisher Response </th>
              <td>
                <label id="Planned_v17" name="P_Vol17"   > </label>
              </td>
              <td>
                <label for="week" id="Planned_hc17" ></label>
              </td>
              

              <td>
                <input
                  name="A_Vol17"
                  id="value19"
                  onkeyup="reactive();"
                  class="form-control"
                  type="text"
                />
              </td>
              <td>
                <input
                  name="A_HCount17"
                  id="value119"
                  onkeyup="reactiveHCount();"
                  class="form-control"
                  type="text"
                />
              </td>
              <td><input type="text"  name="accuracy17" class="form-control"></td>
              <td><textarea rows="2" name="couts17"></textarea></td>
            </tr>
            </tr>



            
            <!--  18 .Submitted Corrections   -->

            <tr>
              <th>Submitted Corrections   </th>
              <td>
                <label id="Planned_v18" name="P_Vol18"   ></label>
              </td>
              <td>
                <label for="week" id="Planned_hc18" ></label>
              </td>
            

              <td>
                <input
                  name="A_Vol18"
                  id="value20"
                  onkeyup="reactive();"
                  class="form-control"
                  type="text"
                />
              </td>
              <td>
                <input
                  name="A_HCount18"
                  id="value120"
                  onkeyup="reactiveHCount();"
                  class="form-control"
                  type="text"
                />
              </td>
              <td><input type="text" name="accuracy18"  class="form-control"></td>
              <td><textarea rows="2" name="couts18"></textarea></td>
            </tr>
            </tr>



            <!-- 19.Queries + Escalations  -->

            <tr>
              <th>Queries + Escalations     </th>
              <td>
                <label id="Planned_v19" name="P_Vol19"   ></label>
              </td>
              <td>
                <label for="week" id="Planned_hc19" ></label>
              </td>
              
              
              <td>
                <input
                  name="A_Vol19"
                  id="value21"
                  onkeyup="reactive();"
                  class="form-control"
                  type="text"
                />
              </td>
              <td>
                <input
                  name="A_HCount19"
                  id="value121"
                  onkeyup="reactiveHCount();"
                  class="form-control"
                  type="text"
                />
              </td>
              <td><input type="text"  name="accuracy19" class="form-control"></td>
              <td><textarea rows="2" name="couts19"></textarea></td>
            </tr>
            </tr>



            <!-- 20. Rework  -->
            <tr>
              <th class="ui center aligned header blue">Rework  </th>
              <td>
                <label id="Planned_v20" name="P_Vol20"   ></label>
              </td>
              <td>
                <label for="week" id="Planned_hc20" ></label>
              </td>
              
             
              <td>
                <input name="A_Vol20" class="form-control" type="text" id="sum_rework"  readonly />
              </td>
              <td>
                <input name="A_HCount20" class="form-control" type="text"  id="sum_reworkHCount" readonly />
              </td>
              <td><input type="text"  name="accuracy20" class="form-control"></td>
              <td><textarea rows="2" name="couts20"></textarea></td>
            </tr>
            </tr>



            
            <!-- 21.Rework Blocking  -->
            <tr>
              <th>Rework Blocking  </th>
              <td>
                <label id="Planned_v21" name="P_Vol21"   ></label>
              </td>
              <td>
                <label for="week" id="Planned_hc21" ></label>
              </td>
              
              
              <td>
                <input
                  name="A_Vol21"
                  id="value1110"
                  onkeyup="rework();"
                  class="form-control"
                  type="text"
                />
              </td>
              <td>
                <input
                  name="A_HCount21"
                  id="value1010"
                  onkeyup="reworkHCount();"
                  class="form-control"
                  type="text"
                />
               
              </td>
              <td><input type="text" name="accuracy21"  class="form-control"></td>
              
              <td><textarea rows="2" name="couts21"></textarea></td>
            </tr>
            </tr>



            
            
          <!-- 22. Rework CFQ -->
            <tr>
              <th>Rework CFQI </th>
              <td>
                <label id="Planned_v22" name="P_Vol22"   ></label>
              </td>
              <td>
                <label for="week" id="Planned_hc22" ></label>
              </td>
              
              
              <td>
                <input
                  name="A_Vol22"
                  id="value1120"
                  onkeyup="rework();"
                  class="form-control"
                  type="text"
                />
              </td>
              <td>
                <input
                name="A_HCount22"
                id="value1020"
                onkeyup="reworkHCount();"
                class="form-control"
                type="text"
              />
              </td>
              <td><input type="text"  name="accuracy22" class="form-control"></td>
              <td><textarea rows="2" name="couts22"></textarea></td>
            </tr>
            </tr>



            
            <!-- 23.Rework Non-Blocking  -->

            <tr>
              <th>Rework Non-Blocking  </th>
              <td>
                <label id="Planned_v23" name="P_Vol23"   ></label>
              </td>
              <td>
                <label for="week" id="Planned_hc23" ></label>
              </td>
              
              
             <td>
                <input
                  name="A_Vol23"
                  id="value1130"
                  onkeyup="rework();"
                  class="form-control"
                  type="text"
                />
              </td>
              <td>
                <input
                name="A_HCount23"
                id="value1030"
                onkeyup="reworkHCount();"
                class="form-control"
                type="text"
              />
              </td>
              <td><input type="text"  name="accuracy23" class="form-control"></td>
              <td><textarea rows="2" name="couts23"></textarea></td>
            </tr>
            </tr>



            
            
            <!-- 24.KCVP Detections  -->
            <tr>
              <th class="ui center aligned header blue">KCVP Detections   </th>
              <td>
                <label id="Planned_v24" name="P_Vol24"   ></label>
              </td>
              <td>
                <label for="week" id="Planned_hc24" ></label>
              </td>
              

              
              <td>
                <input name="A_Vol24" class="form-control" type="text" id="sum_kcvp" readonly  />
              </td>
              <td>
                <input name="A_HCount24" class="form-control" type="text"  id="sum_kcvpHCount"  readonly />
              </td>
              <td><input type="text"  name="accuracy24" class="form-control"></td>
              <td><textarea rows="2" name="couts24"></textarea></td>
            </tr>
            </tr>



            <!-- 25.Language Mismatch  -->
            
            <tr>
              <th > Language Mismatch  </th>
              <td>
                <label id="Planned_v25" name="P_Vol25"   ></label>
              </td>
              <td>
                <label for="week" id="Planned_hc25" ></label>
              </td>
             
              <td>
                <input
                  name="A_Vol25"
                  id="kcvp1"
                  onkeyup="kcvp();"
                  class="form-control"
                  type="text"
                />
              </td>

              <td>
                <input
                  name="A_HCount25"
                  id="kcvpHCount1"
                  onkeyup="kcvpHCount();"
                  class="form-control"
                  type="text"
                />
              </td>
              <td><input type="text"  class="form-control" name="accuracy25" ></td>
              <td><textarea rows="2" name="couts25"></textarea></td>
            </tr>
            </tr>


            <!-- 26.Unknown Language -->
            <tr>
              <th >Unknown Language </th>
              <td>
                <label id="Planned_v26" name="P_Vol26"   ></label>
              </td>
              <td>
                <label for="week" id="Planned_hc26" ></label>
              </td>
             
              <td>
                <input
                  name="A_Vol26"
                  id="kcvp2"
                  onkeyup="kcvp();"
                  class="form-control"
                  type="text"
                />
              </td>
              
              <td>
                <input
                  name="A_HCount26"
                  id="kcvpHCount2"
                  onkeyup="kcvpHCount();"
                  class="form-control"
                  type="text"
                />
              </td>
              <td><input type="text"  class="form-control" name="accuracy26" ></td>
              <td><textarea rows="2" name="couts26"></textarea></td>
            </tr>
            </tr>



            <!-- 27.Switcheroo  -->
            
            <tr>
              <th >Switcheroo</th>
              <td>
                <label id="Planned_v27" name="P_Vol27"   ></label>
              </td>
              <td>
                <label for="week" id="Planned_hc27" ></label>
              </td>
              

              <td>
                <input
                  name="A_Vol27"
                  id="kcvp3"
                  onkeyup="kcvp();"
                  class="form-control"
                  type="text"
                />
              </td>

              <td>
                <input
                  name="A_HCount27"
                  id="kcvpHCount3"
                  onkeyup="kcvpHCount();"
                  class="form-control"
                  type="text"
                />
              </td>
              <td><input type="text" name="accuracy27"  class="form-control"></td>
              <td><textarea rows="2" name="couts27"></textarea></td>
            </tr>
            </tr>



            <!-- 28.Fixed Layout  -->
            
            <tr>
              <th>Fixed Layout   </th>
              <td>
                <label id="Planned_v28" name="P_Vol28"   ></label>
              </td>
              <td>
                <label for="week" id="Planned_hc28" ></label>
              </td>
              

              <td>
                <input
                  name="A_Vol28"
                  id="kcvp4"
                  onkeyup="kcvp();"
                  class="form-control"
                  type="text"
                />
              </td>

              <td>
                <input
                  name="A_HCount28"
                  id="kcvpHCount4"
                  onkeyup="kcvpHCount();"
                  class="form-control"
                  type="text"
                />
              </td>
              <td><input type="text" name="accuracy28"  class="form-control"></td>
              <td><textarea rows="2" name="couts28"></textarea></td>
            </tr>
            </tr>



            <!-- 29.Content Testing  -->
            
            <tr>
              <th class="ui center aligned header blue">Content Testing  </th>
              <td>
                <label id="Planned_v29" name="P_Vol29"   ></label>
              </td>
              <td>
                <label for="week" id="Planned_hc29" ></label>
              </td>
             

              <td>
                <input name="A_Vol29" class="form-control" type="text"  />
              </td>
              <td>
                <input name="A_HCount29" class="form-control" type="text"  />
              </td>
              <td><input type="text" name="accuracy29"  class="form-control"></td>
              <td><textarea rows="2" name="couts29"></textarea></td>
            </tr>
            </tr>



            
            <!-- 30.KDP Cover Gen  -->
            <tr>
              <th class="ui center aligned header blue">KDP Cover Gen  </th>
              <td>
                <label id="Planned_v30" name="P_Vol30"   ></label>
              </td>
              <td>
                <label for="week" id="Planned_hc30" ></label>
              </td>
             

              <td>
                <input name="A_Vol30" class="form-control" type="text"  />
              </td>
              <td>
                <input name="A_HCount30" class="form-control" type="text"  />
              </td>
              <td><input type="text" name="accuracy30"  class="form-control"></td>
              <td><textarea rows="2" name="couts30"></textarea></td>
            </tr>
            </tr>

            <!-- 31.Author Fix-up   -->
            <tr>
              <th class="ui center aligned header blue">Author Fix-up</th>
              <td>
                <label id="Planned_v31" name="P_Vol31"   ></label>
              </td>
              <td>
                <label for="week" id="Planned_hc31" ></label>
              </td>
            

              <td>
                <input name="A_Vol31" class="form-control" type="text"  />
              </td>
              <td>
                <input name="A_HCount31" class="form-control" type="text"  />
              </td>
              <td><input type="text" name="accuracy31"  class="form-control"></td>
              <td><textarea rows="2" name="couts31"></textarea></td>
            </tr>
            </tr>



            
            <!--  32. All Field Audit -->
            <tr>
              <th class="ui center aligned header blue"> All Field Audit   </th>
              <td>
                <label id="Planned_v32" name="P_Vol32"   ></label>
              </td>
              <td>
                <label for="week" id="Planned_hc32" ></label>
              </td>
             
              <td>
                <input name="A_Vol32" class="form-control" type="text"  />
              </td>
              <td>
                <input name="A_HCount32" class="form-control" type="text"  />
              </td>
              <td><input type="text"  name="accuracy32" class="form-control"></td>
              <td><textarea rows="2" name="couts32"></textarea></td>
            </tr>
            </tr>

          </thead>
        </table>

        <div class="form-group">
          <button class="ui basic large blue  button">Submit!</button>
        </div>
      </form>

      <a href="/campgrounds">Go Back</a>
    </div>
  </div>
</div>
<% include ../partials/footer %>