<% include ../partials/header %>

<script>
    function sum() {
    var v1 = document.getElementById("value1").value;
    var v2 = document.getElementById("value2").value;
    var v3 = document.getElementById("value3").value;
    var v4 = document.getElementById("value4").value;
    var v5 = document.getElementById("value5").value;
    // var v6 = document.getElementById("value6").value;
    var result = +v1 + +v2 + +v3 + +v4 + +v5 ;
    if (!isNaN(result)) {
      document.getElementById("sum_value").value = result.toFixed(2); 
    }
  }

  function hcsum() {
    var hc1 = document.getElementById("headcount1").value;
    var hc2 = document.getElementById("headcount2").value;
    var hc3 = document.getElementById("headcount3").value;
    var hc4 = document.getElementById("headcount4").value;
    var hc5 = document.getElementById("headcount5").value;
    // var hc6 = document.getElementById("headcount6").value;
    var result = +hc1 + +hc2 + +hc3 + +hc4 + +hc5;
    if (!isNaN(result)) {
      document.getElementById("hc_value").value = result.toFixed(2);
    }
  }


  function reactive(){
    var v1 = document.getElementById("value11").value;
    var v2 = document.getElementById("value12").value;
   
    var result = +v1 + +v2  ;
    if (!isNaN(result)) {
      document.getElementById("sum_reactive").value = result.toFixed(2);
    }
  }

  function reactiveHCount(){
    var v1 = document.getElementById("value111").value;
    var v2 = document.getElementById("value112").value;
   
    
    
    var result = +v1 + +v2 ;
    if (!isNaN(result)) {
      document.getElementById("sum_reactiveHCount").value = result.toFixed(2);
    }
  }

  function rework(){
    var v1 = document.getElementById("value1110").value;
    var v2 = document.getElementById("value1120").value;
    var v3 = document.getElementById("value1130").value;

    var result = +v1 + +v2 + +v3;
    if (!isNaN(result)) {
      document.getElementById("sum_rework").value = result.toFixed(2);
    }
  }

  function reworkHCount(){
    var v1 = document.getElementById("value1010").value;
    var v2 = document.getElementById("value1020").value;
    var v3 = document.getElementById("value1030").value;
    var result = +v1 + +v2 + +v3;
    if (!isNaN(result)) {
      document.getElementById("sum_reworkHCount").value = result.toFixed(2);
    }
  }



  function kcvp(){
    var v1 = document.getElementById("kcvp1").value;
    var v2 = document.getElementById("kcvp2").value;
    var v3 = document.getElementById("kcvp3").value;
    var v4 = document.getElementById("kcvp4").value;
    var result = +v1 + +v2 + +v3 + +v4;
    if (!isNaN(result)) {
      document.getElementById("sum_kcvp").value = result.toFixed(2);
    }
  }
  
  function kcvpHCount(){
    var v1 = document.getElementById("kcvpHCount1").value;
    var v2 = document.getElementById("kcvpHCount2").value;
    var v3 = document.getElementById("kcvpHCount3").value;
    var v4 = document.getElementById("kcvpHCount4").value;
    var result = +v1 + +v2 + +v3 + +v4;
    if (!isNaN(result)) {
      document.getElementById("sum_kcvpHCount").value = result.toFixed(2);
    }
  }

</script>

<div class="container pt-6" >
  <div class="row">
    <h1 style="text-align: center">Create New metrics of the week</h1>
    <div style="margin: 25px auto; ">
      <form action="/metadata" method="POST">

        <table>
          <table class="ui celled structured striped table" >
            <thead>
              <tr>
                <th>
                  <div class="ui input focus pointing below label">
                    <h6><b>Choose week no.</b> </h6>
                    <input  name="week" class="week"  type="week" id="week"  > 
                  </div>
                </th>
                <th class="ui center aligned header" colspan="2">Planned</th>
                <th class="ui center aligned header" colspan="2">Actual</th>
                <th class="ui center aligned header" colspan="1">Accuracy</th>
                <th class="ui center aligned header" colspan="1">Call Outs</th>
                <th class="ui center aligned header" colspan="2">CPH</th>
              </tr>
  
              <tr>
                <th class="ui center aligned ">
                  Title
                </th>
                <th>Volume</th>
                <th>Head Count</th>
                <th>Volume</th>
                <th>Head Count</th>
                <th>Accuaracy percent( % )</th>
                <th>Reason</th>
                <th>Actual</th>
                <th>Planned</th>
              </tr>
              <tr>
                <th class="ui center aligned header blue">
                  GOK-Content Quality Score
                </th>
                <td>
                  <input type="text" name="Planned_v1" class="form-control" id="Planned_v1" readonly                </td>
                <td>
                  <input type="text" name="Planned_hc1" class="form-control" id="Planned_hc1" readonly>
                </td>
                <td>
                  <input
                    name="A_Vol1"
                    id="sum_value"
                    class="form-control"
                    type="text"
                    readonly
                  />
                </td>
                <td>
                  <input
                    name="A_HCount1"
                    class="form-control"
                    id="hc_value"
                    type="text"
                    readonly
                  />
                </td>
                
                <td><input type="text"   name="accuracy1" class="form-control" ></td> 
                <td><textarea rows="2" name="couts1"></textarea></td> 
                <td><input type="text"   name="A_CPH1" class="form-control" readonly ></td> 
                <td><input type="text" name="Planned_cph1" class="form-control" id="Planned_cph1" readonly></td>  
              </tr>
  
              <!-- 2.SRL - GV 90 -  Regular Ops inflow  -->
              <tr>
                <th>SCQS - Fresh

                </th>
                <td>
                 
                  <input type="text" name="Planned_v2" class="form-control" id="Planned_v2" readonly>
                </td>
                <td>
                  
                  <input type="text" name="Planned_hc2" class="form-control" id="Planned_hc2" readonly>
                </td>
               
                <td>
                  <input
                    name="A_Vol2"
                    id="value1"
                    onkeyup="sum();"
                    class="form-control"
                    type="text"
                  />
                </td>
                <td>
                  <input
                    name="A_HCount2"
                    class="form-control"
                    id="headcount1"
                    onkeyup="hcsum();"
                    type="text"
                  />
                </td>
                <td></td>
                <td><textarea rows="2" name="couts2"></textarea></td>
                <td><input type="text"   name="A_CPH2" class="form-control" readonly ></td> 
                <td><input type="text" name="Planned_cph2" class="form-control" id="Planned_cph2" readonly></td>  
              </tr>
  
              <!-- SRL - GV 90 - automation shut -->
              <tr>
                <th>CQS Rework - CQS Pass but GUID Change
                </th>
                <td>
                  <input type="text" name="Planned_v3" class="form-control" id="Planned_v3" readonly>
                </td>
                <td>
                  
                  <input type="text" name="Planned_hc3" class="form-control" id="Planned_hc3" readonly>
                </td>
                
                <td>
                  <input
                    name="A_Vol3"
                    id="value2"
                    onkeyup="sum();"
                    class="form-control"
                    type="text"
                  />
                </td>
  
                <td>
                  <input
                    name="A_HCount3"
                    id="headcount2"
                    onkeyup="hcsum();"
                    class="form-control"
                    type="text"
                  />
                </td>
  
                <td></td>
                <td><textarea rows="2" name="couts3"></textarea></td>
                <td><input type="text"   name="A_CPH3" class="form-control" readonly  ></td> 
                <td><input type="text" name="Planned_cph3" class="form-control" id="Planned_cph3" readonly></td>  
              </tr>
  
              <!-- 4. SRL - GV 90 - Onsite backlog -->
              <tr>
                <th>CQS Rework - CQS Fails</th>
                <td>
                  <input type="text" name="Planned_v4" class="form-control" id="Planned_v4" readonly>
                </td>
                <td>
  
                  <input type="text" name="Planned_hc4" class="form-control" id="Planned_hc4" readonly>
                </td>
                
                <td>
                  <input
                    name="A_Vol4"
                    class="form-control"
                    id="value3"
                    onkeyup="sum();"
                    type="text"
                  />
                </td>
                <td>
                  <input
                    name="A_HCount4"
                    id="headcount3"
                    onkeyup="hcsum();"
                    class="form-control"
                    type="text"
                  />
                </td>
                <td></td>
                <td><textarea rows="2" name="couts4"></textarea></td>
                <td><input type="text"   name="A_CPH4" class="form-control" readonly ></td> 
                <td><input type="text" name="Planned_cph4" class="form-control" id="Planned_cph4" readonly></td>  
              </tr>
  
              <!-- 5. SRL testing -->
              <tr>
                <th>SRL testing</th>
                <td>
                  <input type="text" name="Planned_v5" class="form-control" id="Planned_v5" readonly>
                </td>
                <td>
  
                  <input type="text" name="Planned_hc5" class="form-control" id="Planned_hc5" readonly>
                </td>
                
  
                
                
                <td>
                  <input
                    name="A_Vol5"
                    class="form-control"
                    id="value4"
                    onkeyup="sum();"
                    type="text"
                  />
                </td>
  
                <td>
                  <input
                    name="A_HCount5"
                    id="headcount4"
                    onkeyup="hcsum();"
                    class="form-control"
                    type="text"
                  />
                </td>
                <td></td>
                <td><textarea rows="2" name="couts5"></textarea></td>
                <td><input type="text"   name="A_CPH5" class="form-control" readonly  ></td> 
                
                <td><input type="text" name="Planned_cph5" class="form-control" id="Planned_cph5" readonly></td>  
  
              </tr>
  
              <!--  6. SRL - KU (KDPS) -->
              <tr>
                <th>SRL - KU (KDPS)</th>
                <td>
                  <input type="text" name="Planned_v6" class="form-control" id="Planned_v6" readonly>
                </td>
                <td>
                  
                  <input type="text" name="Planned_hc6" class="form-control" id="Planned_hc6" readonly>
                 </td>
               
                <td>
                  <input
                    name="A_Vol6"
                    id="value5"
                    onkeyup="sum();"
                    class="form-control"
                    type="text"
                  />
                </td>
                <td>
                  <input
                    name="A_HCount6"
                    id="headcount5"
                    onkeyup="hcsum();"
                    class="form-control"
                    type="text"
                  />
                </td>
                <td></td>
                <td><textarea rows="2" name="couts6"></textarea></td>
                <td><input type="text"   name="A_CPH6" class="form-control"  readonly ></td>
                <td><input type="text" name="Planned_cph6" class="form-control" id="Planned_cph6" readonly></td>  
              </tr> 
              <tr>
                <th class="ui center aligned header blue">NCX - GV 90 </th>
                
                <td>
                  <input type="text" name="Planned_v7" class="form-control" id="Planned_v7" readonly>
                </td>
                <td>
                  
                  <input type="text" name="Planned_hc7" class="form-control" id="Planned_hc7" readonly>
                 </td>
              
    
                <td>
                  <input name="A_Vol7" class="form-control" type="text"  />
                </td>
                <td>
                  <input name="A_HCount7" class="form-control" type="text"  />
                </td>
                <td><input type="text" name="accuracy7"  class="form-control"></td>
                <td><textarea rows="2" name="couts7"></textarea></td>
                <td><input type="text"   name="A_CPH7" class="form-control"  readonly  ></td>
                <td><input type="text" name="Planned_cph7" class="form-control" id="Planned_cph7" readonly></td>  
              </tr>
            </tr>
            <!--8. RPN -->
              <tr>  
                <th class="ui center aligned header blue" >GOK-HDV </th>  
                <td>  
                  <input type="text" name="Planned_v8" class="form-control" id="Planned_v8" readonly>
                </td> 
                <td>  
  
                  <input type="text" name="Planned_hc8" class="form-control" id="Planned_hc8" readonly>
                </td> 
                
                <td>  
                  <input name="A_Vol8" class="form-control" type="text" id="sum_reactive"   readonly /> 
                </td> 
                <td>  
                  <input name="A_HCount8" class="form-control" type="text"  id="sum_reactiveHCount" readonly /> 
                </td> 
               
                <td><input  type="text"  name="accuracy8" class="form-control"></td>  
                <td><textarea rows="2" name="couts8"></textarea></td> 
                <td><input type="text"   name="A_CPH8" class="form-control"  readonly ></td>  
                <td><input type="text" name="Planned_cph8" class="form-control" id="Planned_cph8" readonly></td>  
              </tr>
    
    
              <!--9. Page Numbering Manual -->
    
                <tr>
                  <th class="ui  header subhead grey " >Page Numbering Manual
                  </th>
                  <td>
                    <input type="text" name="Planned_v9" class="form-control" id="Planned_v9" readonly>
                  </td>
                  <td>
                    
                  <input type="text" name="Planned_hc9" class="form-control" id="Planned_hc9" readonly>
                  </td> 
                  
                  
    
                  <td>
                    <input
                      name="A_Vol9"
                      id="value11"
                      onkeyup="reactive();"
                      class="form-control"
                      type="text"
                    />
                  </td>          
                  <td>
                    <input
                      name="A_HCount9"
                      id="value111"
                      onkeyup="reactiveHCount();"
                      class="form-control"
                      type="text"
                    />
                  </td>
                  <td></td>
                  <td><textarea rows="2" name="couts9"></textarea></td>
                  <td><input type="text"   name="A_CPH9" class="form-control"  readonly ></td>
                  <td><input type="text" name="Planned_cph9" class="form-control" id="Planned_cph9" readonly></td>  
                </tr>
    
    
    
                <!--10  Page Numbering Tickets-->
                <tr>
                  <th class="ui  header subhead grey ">Page Numbering Tickets</th>
                  </th>
                  <td>
                    <input type="text" name="Planned_v10" class="form-control" id="Planned_v10" readonly>
                  </td>
                  <td>
                    
                  <input type="text" name="Planned_hc10" class="form-control" id="Planned_hc10" readonly>
                  </td>
                  
                  <td>
                    <input
                      name="A_Vol10"
                      id="value12"
                      onkeyup="reactive();"
                      class="form-control"
                      type="text"
                    />
                  </td>
                  <td>
                    <input
                      name="A_HCount10"
                      id="value112"
                      onkeyup="reactiveHCount();"
                      class="form-control"
                      type="text"
                    />
                  </td>
                  <td></td>
                  <td><textarea rows="2" name="couts10"></textarea></td>
                  <td><input type="text"   name="A_CPH10" class="form-control"  readonly ></td>
                  <td><input type="text" name="Planned_cph10" class="form-control" id="Planned_cph10" readonly></td>  
                </tr>
          </thead>  
        </table>
        <div class="form-group">
          <button class="ui basic large blue  button">Submit!</button>
        </div>
      </form>

      <a href="/metadata">Go Back</a>
    </div>
  </div>
</div>

<script >

  document.querySelector("#week").addEventListener("change", function(e) {
  console.log("Calculating ....");
  const UIamount = document.getElementById("week");
  const Planned_v1 = document.getElementById("Planned_v1");
  const Planned_v2 = document.getElementById("Planned_v2");
  const Planned_v3 = document.getElementById("Planned_v3");
  const Planned_v4 = document.getElementById("Planned_v4");
  const Planned_v5 = document.getElementById("Planned_v5");
  const Planned_v6 = document.getElementById("Planned_v6");
  const Planned_v7 = document.getElementById("Planned_v7");
  const Planned_v9 = document.getElementById("Planned_v9");
  const Planned_v8 = document.getElementById("Planned_v8");
  const Planned_v10 = document.getElementById("Planned_v10");

  const Planned_hc1 = document.getElementById("Planned_hc1");
  const Planned_hc2 = document.getElementById("Planned_hc2");
  const Planned_hc3 = document.getElementById("Planned_hc3");
  const Planned_hc4 = document.getElementById("Planned_hc4");
  const Planned_hc5 = document.getElementById("Planned_hc5");
  const Planned_hc6 = document.getElementById("Planned_hc6");
  const Planned_hc7 = document.getElementById("Planned_hc7");
  const Planned_hc9 = document.getElementById("Planned_hc9");
  const Planned_hc8 = document.getElementById("Planned_hc8");
  const Planned_hc10 = document.getElementById("Planned_hc10");

  const Planned_cph1 = document.getElementById("Planned_cph1");
  
  const Planned_cph2 = document.getElementById("Planned_cph2");


  const weekly = UIamount.value;
  // const calculatedInterest = parseFloat(UIinterest.value);
  // const calculatedPayment = parseFloat(UIyears.value);
  console.log(weekly);
  if (
    weekly === "2019-W45" ||
    weekly === "2019-W46" ||
    weekly === "2019-W47" ||
    weekly === "2019-W48"
  ) {
    Planned_v1.value = 989;
    Planned_v2.value = 876;
    Planned_v3.value = 542;
    Planned_v4.value = 789;
    Planned_v5.value = 1176;  
    Planned_v6.value = 402;
    Planned_v7.value = 189;
    Planned_v8.value = 276;
    Planned_v9.value = 402;
    Planned_v10.value = 789;

    Planned_hc1.value = 2.05;
    Planned_hc2.value = 0.06;
    Planned_hc3.value = 1.06;
    Planned_hc4.value = 0.06;
    Planned_hc5.value = 1.06;
    Planned_hc6.value = 0.06;
    Planned_hc7.value = 0.06;
    Planned_hc8.value = 1.06;
    Planned_hc9.value = 0.2;
    Planned_hc10.value = 2.05;

    Planned_cph1.value =1780;
    Planned_cph2.value =1780;
    Planned_cph3.value =1780;
    Planned_cph4.value =1780;
    Planned_cph5.value =1780;
    Planned_cph6.value =1780;
    Planned_cph7.value =1780;
    Planned_cph8.value =1780;
    Planned_cph9.value =1780;
    Planned_cph10.value =1780;

  } else if (
    weekly === "2019-W49" ||
    weekly === "2019-W50" ||
    weekly === "2019-W51" ||
    weekly === "2019-W52"
  ) {
    Planned_v1.value = 3189;
    Planned_v2.value = 8316;
    Planned_v3.value = 3142;
    Planned_v4.value = 3189;
    Planned_v5.value = 1316;
    Planned_v6.value = 3102;
    Planned_v7.value = 3189;
    Planned_v8.value = 2731;
    Planned_v9.value = 431;
    Planned_v10.value = 3189;
   
    Planned_hc1.value = 1.7;
    Planned_hc2.value = 3.2;
    Planned_hc3.value = 0.02;
    Planned_hc4.value = 0.2;
    Planned_hc5.value = 1.07;
    Planned_hc6.value = 0.2;
    Planned_hc7.value = 3.2;
    Planned_hc8.value = 0.02;
    Planned_hc9.value = 0.2;
    Planned_hc10.value = 1.7;

    
    Planned_cph1.value =1667;
    Planned_cph2.value =1667;
    Planned_cph3.value =1667;
    Planned_cph4.value =1667;
    Planned_cph5.value =1667;
    Planned_cph6.value =1667;
    Planned_cph7.value =1667;
    Planned_cph8.value =1667;
    Planned_cph9.value =1667;
    Planned_cph10.value =1667;
   
    
  } else {
    Planned_v1.value = null;
    Planned_v2.value = null;
    Planned_v3.value = null;
    Planned_v4.value = null;
    Planned_v5.value = null;
    Planned_v6.value = null;
    Planned_v7.value = null;
    Planned_v8.value = null;
    Planned_v9.value = null;
    Planned_v10.value = null;
   
    Planned_hc1.value = null;
    Planned_hc2.value = null;
    Planned_hc3.value = null;
    Planned_hc4.value = null;
    Planned_hc5.value = null;
    Planned_hc6.value = null;
    Planned_hc7.value = null;
    Planned_hc8.value = null;
    Planned_hc9.value = null;
    Planned_hc10.value = null;

    Planned_cph1.value =null;
    Planned_cph2.value =null;
    Planned_cph3.value =null;
    Planned_cph4.value =null;
    Planned_cph5.value =null;
    Planned_cph6.value =null;
    Planned_cph7.value =null;
    Planned_cph8.value =null;
    Planned_cph9.value =null;
    Planned_cph10.value =null;
   

  }

  e.preventDefault();
  
});

</script>
<% include ../partials/footer %>