<% include ../partials/header %>
<div class="container">
  <div class="ui main text ">
    <div class="ui huge header">Metrics Posted By You !</div>
    <% campgrounds.slice().reverse().forEach(function(itbMetric){ %> <%
    if(currentUser && itbMetric.author.id.equals(currentUser._id)){ %>
    <div class="ui right aligned grid segment">
      <div class="left floated left aligned six wide column">
        <h4><%= itbMetric.week %><b> | Team : ITB</b></h4>
        <span
          >Created by <b><%= itbMetric.author.username %></b> on :
          <i><%= itbMetric.created.toDateString() %></i></span
        >
      </div>
      <div class="right floated right aligned six wide column buttons">
        <a
          class="ui floated tiny basic violet button"
          href="/campgrounds/<%= itbMetric._id %>"
          ><b>View More</b> <i class="small right chevron icon"></i
        ></a>
      </div>
    </div>
    <% } %> <% }) %>
  </div>
</div>
