.thumbnail img{
    width: 100%;
}


#delete-form{
    display: inline;
}

#comment{
    margin-top: 60px;
    line-height: 2.2em;
}

.container.main {
    margin-top: 4em;
}

body {
    background-color: #ECF0F1;
  }
  
.page-login {
    margin-top: 25px;
}